<ng-container *ngIf="(accountService.AppUser$|async) as user">
    <h1 class="text-center"><strong style="color: purple;font-weight:bolder;">
        user.name sell your bag easily </strong></h1>
        <marquee scrollamount="4">Please be aware that you have to pay, upload,
             wait for confirmation to see your goods online. Thank you</marquee>
   
             <hr style="height: 50px;">
    
    <div style="background-color: lightgray; padding-bottom: 40px;border:5px solid skyblue ;">
    <div class="text-center" style="color:blue ;"> <h1>Product Upload Page</h1></div>
       
    <div class="d-flex justify-content-center">
    
        <div class="col-3">
    
            <form [formGroup] = "productForm" (ngSubmit)="onSubmit()">
    
                <div class="text-center mt-5">
                  
                  <app-text-inputs [formControl]="productForm.controls['prodName']" 
                   [label]="'Product Name'"></app-text-inputs>
    
                  <app-text-inputs [formControl]=" productForm.controls['prodPicture']"  
                 [type]="'file'" (change)="uploadPicture($event)" 
                 [label]="'Product Picture'"></app-text-inputs>
    
                  <app-text-inputs [formControl]=" productForm.controls['prodDescription']" 
                   [label]="'Product Description'"></app-text-inputs>
    
                  <app-text-inputs [formControl]=" productForm.controls['prodPrice']"
                   [type]="'number'"  [label]="'Price'"></app-text-inputs>

                  <div class="row">
                    
                     <div class="col-6">
                     <strong style="font-weight:bolder ;"> Brand</strong>
                     <div class="d-flex" *ngFor="let brand of brands" [formGroup]=" 
                       productForm">

                     <input formControlName="productBrandId"
                     id="{{brand.id}}"
                    value="{{brand.id}}"
                    name="productBrandId"
                    type="radio">
                    <label for={{brand.id}}>{{brand.name}}</label>

                  </div>
                </div>
            
                <div class="col-6">
                    <strong style="font-weight:bolder ;">Type</strong>
                   <div class="d-flex" *ngFor="let type of types" [formGroup]=" productForm">
                    <input 
                    formControlName="productTypeId"
                    id="{{type.id}}"
                    value="{{type.id}}"
                    name="productTypeId"
                    type="radio">
                         <label for={{type.id}}>{{type.name}}</label>
                   </div>
                 </div>
                </div>
                </div>
                <div>
                <ul class="text-danger list-unstyled" *ngIf="errors">
                        <li *ngIf="let error of errors">
                                {{error}}
                        </li>
                </ul>
            </div>

            <br>
                <div class="d-grid" >
                    <button [disabled]="productForm.invalid" class="btn btn-lg btn-success" type="submit" style="margin-top:10px ;">
                      Upload Product
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
    
    <hr style="height: 50px;">
    <div class="adminadd " style="padding-bottom:50px; margin: 10px;">
        <strong style="color: gold ;"><h1>Make payment here</h1></strong>
        <button class="btn btn-primary m-5">
            Pay here
        </button>
    </div>
    <hr style="height: 50px;">
</ng-container>

