.form-group  app-text-inputs{
    padding-right: 35px;
}

.form-group{
    position: relative;
    width: 100%;
}


.eyeicon1{
    position: absolute;
    width: auto;
    right: -1px;
    top: 13px;
    padding: 8px;
    margin-left: 5px;
}

.eyeicon2{
    position: absolute;
    width: auto;
    right: -1px;
    top: 13px;
    padding: 8px;
    margin-left: 5px;
}