@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.xng-breadcrumb-root{

     display:inline;

}
.xng-breadcrumb-separator{

    padding:0;
   
    
}
label.xng-breadcrumb-trail{
    color: white;
    display:inline;
    
}
html, body { height: 100%; width: 100%; }
body { width: 100%; margin: 0 auto; font-family: Roboto, "Helvetica Neue", sans-serif; }
