<div *ngIf="productDetails" class="d-flex justify-content-center" 
    style="width: 80%; height:100%; margin-left:10%; margin-top:15%">
        
    <div class="d-flex flex-column align-items-center" style="width:150%;">

        <div class="">
            <div class="d-flex  w-auto" style="color: purple;">
            <h5 >Will sell at £{{productDetails.prodPrice}}</h5>
            </div>
        </div>

        <div class="row">

                <div class="col-9 align-items-center">
                    <img src={{productDetails.prodPicture}} class="card-img-top img-fluids" height="100%" 
                    width="150%" alt={{productDetails.prodName}}>
                </div>
                
                <div class="col-3 ">
                    <h5 style="font-weight: bold; color: yellowgreen;">Product Details</h5>
                    <p>{{productDetails.prodDescription}}</p>
                   
                </div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <div class="btn-quantity-name">
               Quantity:  <i (click)="ReduceQuantity()" 
               class="fa fa-minus-circle text-warning m-2" 
               style="cursor: pointer; font-size:2.5em;"></i> 
        <strong  style="font-size:2.5em;"> {{quantity}}</strong>
                <i (click)=" IncreaseQuantity()" 
               class="fa fa-plus-circle text-warning m-2" 
               style="cursor: pointer; font-size:2.5em;"></i>
                
            </div>
            <div class="btn-order">   
                
                <button  (click)="RemoveItem()" class="btn btn-prodDetails fa fa-shoping-cart" style="color:black; font-size:120%; padding: 10px; border-color: black;">
                    <strong>Remove this quantity</strong>
                </button>
                <button  (click)="AddItem()" class="btn btn-prodDetails fa fa-shoping-cart" style="color:black; font-size:120%; padding: 10px; border-color: black;">
                    <strong>Add this quantity</strong>
                </button>
            </div>
         </div>

    </div>
</div>

  
  
    
       

 