.row{

    width: auto;
}
.btn-prodDetails{
    background-color: yellow;
    width: 120px;
    height: 100px;
    margin: 10px;
    border-radius: 40px ;
    border: solid black;
   
  
}
.btn-order{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
}
.btn-quantity-name{
    font-weight: bolder;
    font-size: 20px;
}
.btn-quantity-number{
    font-weight: bolder;
    margin: 20px;
    font-size: 40px;
}