<div *ngIf="productDetails" class="d-flex justify-content-center background" 
    style="width: 80%; height:100%; margin-left:10%; margin-top:15%">
        
    <div class="d-flex flex-column align-items-center" style="width:150%;">

       
            <div class="d-flex  w-auto" style="color: rgb(43, 67, 226); font-weight: bold; font-size: larger;">
            <h5 *ngIf="quantityInBasket>1">
                {{quantityInBasket}} of this item are in your basket
               
            </h5>

            <h5> <ng-container *ngIf="quantityInBasket==1"
                >{{quantityInBasket}} of this item is in your basket</ng-container>
            </h5>
            <h5> <ng-container *ngIf="quantityInBasket==0"
                >Not in your basket</ng-container>
            </h5>
            </div>
       

        <div class="row">

                <div class="col-9 align-items-center">
                    <img src={{productDetails.prodPicture}} class="card-img-top img-fluids" height="100%" 
                    width="150%" alt={{productDetails.prodName}}>
                </div>
                
                <div class="col-3 ">
                    <h5 style="font-weight: bold; color: yellowgreen;">Product Details</h5>
                    <p>{{productDetails.prodDescription}}</p>
                   
                </div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <div class="btn-quantity-name">
               Quantity:  <i (click)="ReduceQuantity()" 
               class="fa fa-minus-circle text-warning m-2" 
               style="cursor: pointer; font-size:2.5em;"></i> 
        <strong  style="font-size:2.5em;"> {{quantity}}</strong>
                <i (click)=" IncreaseQuantity()" 
               class="fa fa-plus-circle text-warning m-2" 
               style="cursor: pointer; font-size:2.5em;"></i>
                
            </div>
            <div class="btn-quantity-name">
               Price:  <strong>£{{productDetails.prodPrice}}</strong>
            </div>
            <div class="btn-quantity-name">
               Total Price:  <strong>£{{productDetails.prodPrice*quantity}}</strong>
            </div>
                
                <div class="btn-order"> 
                <button  
                (click)="AddItem()"
                [disabled]="quantity==quantityInBasket" 
                class="btn btn-prodDetails fa fa-shoping-cart" 
                style="color:black; font-size:120%; padding: 10px; border-color: black;">
                    <strong>{{ButtonTxt}}</strong>
                </button>

            </div>
         </div>

    </div>
</div>

  
  
    
       

 