.body{
    padding-bottom: 200px;
    padding-left: 0;
}
.item-container {
   width: 100%;
   height: 600px;
   padding: 10px;
   overflow: scroll;
   margin-left: 10px; 
   border: 2px solid black ;
   border-radius: 10px;
   background-color:mintcream;
   position: relative;
   display:grid;
   grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
   grid-template-rows: repeat(auto-fill,minmax(300px,1fr)); 
}

li{list-style-type: none;
    display: inline;

}
.right-section{
    font-size: 0.75em; 
    font-weight: bolder;
    overflow: scroll;
    height: 200px;  
}

.right{
    margin-top: 10px;
}


.right-section-search{
  
    font-size: small; 
   
}

.left-section{
    font-size: small; 
    margin-left: 0;
    margin-right: 50pix;
    padding: 0;
}

h5{
    color:purple; 
    font-weight: bolder;
}

.marquee{
    direction: left; 
    width: 98%;
    font-size: small;
    font-weight: bold;
    color: blue;
   
}

.marquee2{
    direction: left; 
    width: 98%;
    color: purple;
    font-size: small;
    font-weight: bold;
   
}
.content{
    margin-top: 50px;
    position: relative;
}
.search{
    width:  80%;
    height: 30px;
    margin-bottom: 30px;
}

.search-text{
    width: 11em;
    font-size: 1em;
}
.search-btn{
    width: 5em;
    font-size: 0.8em;
    margin: 5px;
    
  
    padding: 4px ;
}


.noResult{
padding: 50% 0 0 60%; 

}
 a{
    list-style: none;
    text-decoration: none;
 }

 .list-group-item{
    &:not(.active):hover{
        color: red;
        background-color: yellow;
    }
 }



