.btn-group{
    width: 100%;
}

.btnOrder{
    width: 5%;
    height: 10%;
    margin: 2%; 
    color: balck;
    background-color:ash;

}
.productname{
    color: black;
    font-size: 80%;
}

.fonntAwsom1{
color: red;
}
.ak{
    font-size: 10px;
}

.pricing{
    font-weight: bold;
    font-size: x-large;
}

button:hover{
    background-color: green;
    border-radius: 10px;
  }

// .image:hover{
//     opacity: 1;
//     & button{
//         transform:none;
//         opacity: 1;

//     }
//  }
//  .hover-overlay{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top:0;
//     left:0;
//     background: rgba(255, 255, 255, 0.5);
//     opacity: 0;
//     transition: all 0.5s;

//     & button{
//         transition:all 0.5s;
//        z-index: 1000;

//     }
// }


   
