<div class="container body" >

      

           <div class="row content">

               <!-- Section1 -->
                <section class="col-1  left-section">
                      <h6>Our Mission</h6>
                      <p>Our mission is to make sure we statify our customer
                        needs by putting smiles on faces after business 
                        transctions with us.
                      </p>
                      <hr>
                      <div style="width: auto;height:auto;">
                        <app-product-adverts></app-product-adverts>
                      </div>
                      <hr>
                      <h6>Policy</h6>
                      <p>Our policy is unique and is geared towards making you 
                        happy when you patrozize us
                      </p>
                      
                </section>


    <!-- Section2 -->
                <section class=" pb-1 col-9 py-5 text-center container-section">

                  <div *ngIf="(accountService.AppUser$|async) ==null" >
                    <div class="marquee "><Marquee >Welcome to Obande Bag Collections. 
                      Make your choice from the best collections 
                      you can find in the world below</Marquee></div>
                    </div>

                  <div *ngIf="(accountService.AppUser$|async) as user" >
                  <div class="marquee2 " *ngIf="totalPageNumber!=0"><Marquee >Hi {{user.nickName}}. Thank you for viewing our items. 
                    There are lot more of these items you can ever imagined. 
                    If you cannot find the item you want in the list below, 
                    quickly contact us for a quick action. Your commitment is the 
                    reason we have upgraded to serve you better</Marquee></div>
                  </div>

                  <div *ngIf="(accountService.AppUser$|async) as user" >
                    <div class="marquee2 " *ngIf="totalPageNumber==0"><Marquee >
                      Sorry {{user.nickName}}. We are really sorry for any incovieniences 
                      not finding your product right now might have cost. We might be 
                      short in supply but will still take your orders and deliver it to 
                      your door step if you want. Better still, check if your spellings 
                      are correct if you are using the search option. Thanks.</Marquee>
                    </div>
                    </div>

                    <ng-container *ngIf="products">

                      
                    
                      <div class=" item-container container" >
                        <div class="card-container mb-4 " *ngFor="let item of products">
                              <app-product-item-child [product]="item"></app-product-item-child>
                      </div>
                      <div class=" noResult" *ngIf="totalPageNumber==0">
                            <strong><p style="color:red">Sorry!!!.. </p>
                        
                            <p>No result for this search can be found.</p>

                              <p>You can reload page to bring back products items.</p> 
                              <p>Better still, click a brand and/or type.</p>
                            </strong>
                          </div>
                        </div>
                      
                      </ng-container>

            <div class="d-grid justify-content-center mt-3" *ngIf="totalPageNumber&&totalPageNumber>0">
                  <app-pagination-shared-componet
                  [totalPageNumber]="this.totalPageNumber"
                  [pageSize]="this.shopParameters.pageSize"
                  [pageNumber]="this.shopParameters.pageNumber"
                  (pageChange)="PageChange($event)">
                  ></app-pagination-shared-componet>
                <div style="color:blue ; font-weight:bolder">
                  <app-page-analyser 
                  [totalPageNumber]="this.totalPageNumber"
                  [pageNumber]="this.shopParameters.pageNumber"
                  [pageSize]="this.shopParameters.pageSize">
                  </app-page-analyser>
                </div>  
                </div>
            </section>
                

   <!-- Section3 -->
    <!-- Search -->
    <section class="col-2 right-section-search">
      <ng-container *ngIf="products">
          <form class="d-flex ml-3 search" >
            <input (keyup.enter)="Search()" type="text" class="form-control me-2 search-text" #search  placeholder="Products" >
            <button (click)="Search()" class="btn btn-outline-success bg-primary text-light search-btn">Search</button>
            <button (click)="ResetSearch()" class="btn btn-outline-success bg-primary text-light search-btn" >Reset</button>
          </form>
       </ng-container>

       <!-- Sort-->
      <h6>Sort Products</h6>
      <select class="form-select" (change)="SortedProducts($event)">
        <option *ngFor="let item of sortingOptions"
        [selected]="shopParameters.sort==item.value"
        [value]="item.value"
        >{{item.name}}</option>
      </select>

       <!-- Brands -->
       <ng-container *ngIf="brands&&productTypes">
          <div class="left-section-1" >
              <h6>Brands</h6>
              <ul class="list-group">
                 <li class="list-group-item"
                    *ngFor="let item of brands"
                    [class.active]="item.productId===shopParameters.brandId" 
                    [value]="item.productId"
                    (click)="SelectedBrand(item.productId)"
                    >
                    {{item.name}}
                  </li>
              </ul>
           </div>

       <!-- Types -->
     <div class="left-section-2" >
          <h6>Types</h6>
          <ul class="list-group my-3">
                <li class="list-group-item"
                *ngFor="let item of productTypes"
                [class.active]="item.productId===this.shopParameters.typeId" 
                [value]="item.productId"
                (click)="SelectedType(item.productId)"
                > 
                {{item.name}}
              
              </li>
          </ul> 
       </div>
   </ng-container>
 </section>
 </div>
</div>


