.row{
    width: auto;
}

.btn-prodDetails{
    background-color: green;
    width: 200px;
    height: 100px;
    margin: 10px;
    margin-right: 20px;
    border-radius: 40px ;
    border: solid black 5px;
      
}

.btn-prodDetails:hover{
    background-color:white;
    color:black; 
    padding: 10px;
}
.btn-pbasket:hover{
    background-color: pink;
}

.btn-order{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
   
}
.totalPrice{  
    margin-top: 10px;
}

.changeQntyBtn:hover{
    background-color: black; 
    border-radius: 10px;}

.btn-quantity-number{
    font-weight: bolder;
    margin: 20px;
    font-size: 20px;
}

.background{
    background-color: whitesmoke;
    border-radius: 10px;
    border: 5px solid;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative;   
}

.ax{
    text-align: right;
    color:grey;
}

.ay{
    text-align: center;
    color:black;
}

tr{
    line-height:50px;
    width: 300px;
}

table{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
    table-layout:fixed;
    width:80%;
}
input { 
    text-align: right; 
}


.price{
    margin-bottom: 10px;
    margin-top: 10px;}

.addTotalContainer{
    margin: 0 auto;
    padding: 10px;
    position: relative;   
}