<carousel>
    <slide>
        <img src="/assets/bagsale2.jpeg" alt="Second Slide" class="carouselImg">
    </slide>
    <slide>
        <img src="/assets/bags-fit.gif" alt="First Slide" class="carouselImg">
    </slide>
    <slide>
        <img src="/assets/can-fit2.gif" alt="First Slide" class="carouselImg">
    </slide>

    <slide>
        <img src="/assets/bagsale1.jpeg" alt="First Slide" class="carouselImg">
    </slide>
    <slide>
        <img src="/assets/can-fit4.gif" alt="First Slide" class="carouselImg">
    </slide>
    <slide>
        <img src="/assets/can-fit3.gif" alt="First Slide" class="carouselImg">
    </slide>
    <slide>
        <img src="/assets/bagsale3.jpeg" alt="Third Slide" class="carouselImg">
    </slide>
    <slide>
        <img src="/assets/bagsale4.jpeg" alt="Third Slide" class="carouselImg">
    </slide>
</carousel>


