<div class="d-flex justify-content-center" style="background-color: grey; height:100px;padding: 20px; width: auto;">
    <section>
        <div style="margin-left: 30px; color: white;">
        <p><a href="#">About</a></p>  
        <a href="#">View Archives</a>   
    </div>
    </section>
    <section>
      <div style="background-color: grey; height:50px;margin-left: 30px; color: white;">
        <p>Copyright <i class="fa fa-regular fa-copyright"> </i>2023 onahgodwinbagwebsite</p> 
        <a href="#">Sitemap</a>
    </div>
    </section>
    <section>
      <div style="background-color: grey; height:50px;margin-left: 30px; color: white;"> 
        <a href="http://www.facebook.com"><i class="fa fa-brands fa-facebook m-5"></i></a>
       <a href="#"><i class="fa fa-brands fa-whatsapp"></i></a>
       <a href="#"><i class="fa fa-brands fa-instagram m-5"></i></a>
       <strong title=": +447751776483"><i class="fa fa-regular fa-phone"></i></strong>  
    </div>
    </section>
    </div>
