
.body{

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image:url('/assets/beach.jpeg') ;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
a{
  color: white;
  text-decoration: none;
}


