.body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('/assets/beach.jpeg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 
}

a{
  color: white;
  text-decoration: none;
}


