<div class="d-flex justify-content-center">

    <div class="col-3">

        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mt-5">
                    <app-text-inputs [formControl]="loginForm.controls['email']" [label]="'Email Address'"></app-text-inputs>
                    <app-text-inputs [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-inputs>
                </div>
            
            <div class="d-grid">
                <button [disabled]="loginForm.invalid" class="btn btn-lg btn-success" type="submit" style="margin-top:10px ;">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
