.form-group{
    position: relative;
    width: 100%;
}

.form-group app-text-inputs{
    padding-right: 35px;
}

.eyeicon{
    position: absolute;
    right: -1px;
    top: 13px;
    padding: 8px;
    margin-left: 5px;
}