
<div class="container">
<div *ngIf="(basketService.basket$|async)===null">
    <strong style="color: red; font-size:30px; margin-top:500px">
        No Item selected by this time...</strong>   
 </div> 
<div class="container mt-10" style="margin-top:110px; margin-left:50px;">
    <ng-container  *ngIf="(basketService.basket$|async) as basket">
        <marquee class="mb-4 fst-italic">
            Thank you for you interest in our product.  
             Your feedback is important to us for improvement...
            </marquee>
            <div class="container">
            <div class="row col-12 mb-5" style="margin: 0 auto;">
                <app-basket-summary
                (addItem)="IncreaseQuantity($event)"
                (removeItem)="ReduceQuantity($event)"
                >
              </app-basket-summary>
            </div>
            <div class="row">
                <div class="row col-12" style="width:60% ;">
                    <app-order-total></app-order-total>
                    </div>
                    <div class="row col-12 align-items-center mt-4 mb-5" style="width: 500px;height: 100px;">
                        <button routerLink="/Checkout" 
                        class="
                        justify-content-centery-2 checkout" style="width: 150px; height: 60px; border-radius: 10px;">
                            <strong style="color: black; font-size:auto;">Make payment</strong>
                         </button>
                    </div>
                </div>
            </div>
           
    </ng-container>
</div>
</div>

