
    <div class="card" style="width: 200px; height:250px;;">
    <img routerLink="/products/{{product.id}}" src={{product.prodPicture}} class="card-img-top img-fluids" height="50%" 
                 width="auto" alt={{product.prodName}}>
    <a routerLink="/products/{{product.id}}"
  type="button"><h4 class="productname">{{product.prodName}}</h4></a>
    <div class="card-body  " >
      <h5 class="pricing">£{{product.prodPrice}}</h5>

      <div class="d-flex">
       
      <button (click)="AddItem()" class="btnOrder" style="width:80px ;height: 25px; 
      padding-bottom: 25px;">
      <strong class="ak">Buy</strong>
      </button>
   
        <button routerLink="/products/{{product.id}}" class="btnOrder" 
         style="width:100px ;height: 25px; padding-bottom: 25px;">
         <strong class="ak">View</strong>
        </button>
       
        <ng-container *ngIf="(accountService.AppUser$|async) as user" >
          <button *ngIf="user.email=='godwinbillions@gmail.com'" (click)="DeletItem(product.id)" 
          class="btnOrder" style="width:80px ;height: 25px; color: red; 
          padding-bottom: 25px;"><strong class="ak">Delete</strong></button>
           </ng-container>
        </div>
    </div>
  </div>
