.row{

    width: auto;
}
.btn-prodDetails{
    background-color: yellow;
    width: 120px;
    height: 100px;
    margin: 10px;
    border-radius: 40px ;
    border: solid black 10px;
      
}

.btn-order{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 200px;
}
.btn-quantity-name{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
}
.btn-quantity-number{
    font-weight: bolder;
    margin: 20px;
    font-size: 20px;
}

.background{
    background-color: pink;
    border-radius: 20px;
    
}
.ax{
    text-align: right;
    color:grey;
}

.ay{
    text-align: center;
    color:black;
}