.row{
    width: auto;
}

.btn-prodDetails{
    background-color: yellow;
    width: 200px;
    height: 100px;
    margin: 10px;
    margin-right: 20px;
    border-radius: 40px ;
    border: solid black 5px;
      
}

.btn-prodDetails:hover{
    background-color:green;
    color:black; 
    padding: 10px;
}
.btn-pbasket:hover{
    background-color: pink;
}

.btn-order{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 200px;
}
.totalPrice{  
    margin-top: 10px;
}

.changeQntyBtn:hover{
    background-color: black; 
    border-radius: 10px;}

.btn-quantity-number{
    font-weight: bolder;
    margin: 20px;
    font-size: 20px;
}

.background{
    background-color: lightgrey;
    border-radius: 10px;
    width: 80%; 
    height:auto; 
    margin-left:10%  
}
.ax{
    text-align: right;
    color:grey;
}

.ay{
    text-align: center;
    color:black;
}

tr{
    line-height:40px;
}

table{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
}

.price{
    margin-bottom: 10px;
    margin-top: 10px;}