
.item-container {

    width: 100%;
    height: 600px;
   overflow: scroll;
   margin-left: 10px;
   
   border: 2px solid black ;
   border-radius: 10px;

   background-color:mintcream;

   position: relative;

   display:grid;

//    grid-gap: 10px;

   grid-template-columns: repeat(auto-fill,minmax(250px,1fr));

   grid-template-rows: repeat(auto-fill,minmax(300px,1fr));

   
}

li{list-style-type: none;
    display: inline;

}
.left-section-1{

    margin-top: 20px;
    font-size: 0.8em; 
    font-weight: bolder;
   
}
.left-section-2{

    margin-top: 10px;
    margin-right: 20px;
    font-size: 0.8em; 
    font-weight: bolder;
  
   
}
.right-section-search{

    margin-top: 160px;
    font-size: small; 
   
}

.left-section{
    margin-top: 160px;
   
    font-size: small; 
    margin-left: 0;
    margin-right: 50pix;
    padding: 0;
}

h6{color:purple;}

.marquee{
    direction: left; 
    width: 100%;
    font-size: large;
    font-weight: bolder;
   
}

.marquee2{
    direction: left; 
    width: 100%;
    color: purple;
    font-size: large;
    font-weight: bolder;
   
}
.content{
    margin-top: 50px;
    position: relative;
}
.search{

    width:  80%;
    height: 30px;
    margin-bottom: 30px;
}

.search-text{
    width: 11em;
    font-size: 1em;
}
.search-btn{
    width: 5em;
    font-size: 0.8em;
    margin: 5px;
    
  
    padding: 4px ;
}


.noResult{
margin-top: 50%;


}
 a{
    list-style: none;
    text-decoration: none;
 }



