
    <div class="card " style="width: 250px; height:350px; margin-top: 20px;">
    <img src={{product.prodPicture}} class="card-img-top img-fluids" height="50%" 
                 width="auto" alt={{product.prodName}}>
    <a routerLink="/prodshopmod/{{product.productId}}"
  type="button"><h5 class="card-title">{{product.prodName}}</h5></a>
    <div class="card-body  " >
      <h5 class="pricing">£{{product.prodPrice}}</h5>
      <div class="btn-group mt-auto" >
        <button routerLink="/prodshopmod/{{product.productId}}" 
         type="button" type="button" class="btn b-">Check</button>
      </div>
    </div>
  </div>
