.btn-group{
    width: 100%;
}

.btn{
    width: 50%; 
    margin: 5%; 
    border: 1px solid;
}

.fonntAwsom1{
color: red;
}

.pricing{
    font-weight: bold;
    font-size: x-large;
}

// .image:hover{
//     opacity: 1;
//     & button{
//         transform:none;
//         opacity: 1;

//     }
//  }
//  .hover-overlay{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top:0;
//     left:0;
//     background: rgba(255, 255, 255, 0.5);
//     opacity: 0;
//     transition: all 0.5s;

//     & button{
//         transition:all 0.5s;
//        z-index: 1000;

//     }
// }


   
