<div class="mt-4" *ngIf="deliveryForm" [formGroup]="deliveryForm">
    <div class="row mt-3" formGroupName = "deliveryForm" >    
        <div class = "col-6 form-group"  *ngFor="let deliveryFm of  deliverys"> 
            <input 
            type="radio" 
            class="form-check-input"
            id="{{deliveryFm.id}}"
            value="{{deliveryFm.id}}"
            formControlName="delivery"
            (click)="setDeliveryPrice(deliveryFm)"/>
            
            <label for="{{deliveryFm.id}}" class="form-check-label ms-2 mb-3">
                <p><strong style="color: purple;">Name</strong>-{{deliveryFm .delName}}</p>
                <p><strong style="color: purple;">Type</strong>-{{deliveryFm .delDescription}}</p>
                <p><strong style="color: purple;">Arrival date</strong>-{{deliveryFm .delTime}}</p>
                <p><strong style="color: purple;">Price</strong>-<strong>£{{deliveryFm .delPrice}}</strong></p>
                
            </label>           
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-danger" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Address
    </button>
    <button class="btn btn-danger" cdkStepperNext>
        Review <i class="fa fa-angle-right"></i>
    </button>

</div>
