<ng-container *ngIf="(breadcrumb$|async) as breadcrumbs">
    
<section *ngIf="breadcrumbs.length>0&&breadcrumbs[breadcrumbs.length-1].label!==
    'Home'" class="d-flex" style="margin-top:90px; background-color: skyblue;height:
     50px;">

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-9 align-items-center">
                <h2>{{breadcrumbs.length>0&&breadcrumbs[breadcrumbs.length-1].label}}</h2>
            </div>   
            <div class="col-3 ">    
                    <xng-breadcrumb   ></xng-breadcrumb>
            </div>
        </div>
    </div>
</section>
<hr>
</ng-container>