    .nav-item{color:red}

    .cartQuantity{
        font-size: 17px;
        color: gold;
       text-decoration: none;
       text-decoration-line: none;
        font-weight: bold; 
        margin-left: 30px; 
        margin-bottom: 0; 
        padding:1px;
        border-radius: 7px;
        width: auto;
        background-color: black;
        
    }

    .navItems{
        font-weight: bold;
        font-size: 120%;
        color: white;
        padding-right: 8%;
        padding-left: 5%;			
    }

    a:hover{
    color: red;
    }

    a{     
        &.active{
            color: white;
        }}

    .log{
        padding-left: 10px;
        color: wheat;
        font-weight: bolder; 
        margin-right: 15px; 
        cursor: pointer;   
    }

    .log2{
        margin-left: 15px;
        padding-left: 10px;
        color: wheat;
        font-weight: bolder; 
        margin-right: 15px; 
        cursor: pointer;   
    }

    .log1{
        font-weight: bolder; 
        cursor: pointer; 
        font-weight: bolder;   
    }

    .cartLabel{      
        color:white;
        font-size: 20px;
        margin-top: 0;
        padding-top: 0;
        margin-left: 0;
    }

    .basket{      
        margin-left: 120px;
        margin-right: 50px;
        padding: 5px;    
    }

    @media (max-width: 479px) {
        .basket{        
            margin-right: 5px;        
        }

        .log2{
            color: wheat;
            font-weight: bolder;  
            cursor: pointer;   
        }

        .log{
            color: wheat;
            font-weight: bolder; 
            cursor: pointer;   
        }

        .navItems{
            font-weight: bold;
            font-size: 90%;
            color: white;		
        }

        .cartQuantity{
            color: gold;
           text-decoration: none;
           text-decoration-line: none;
            font-weight: bold; 
            margin-bottom: 0; 
            border-radius: 3px;
            width: auto;
            background-color: black;     
        }

        img{
            height: 30px;
            width: 50%;
        }
    }

    .basket:hover{
            background-color: red;
        }

    .logout{
        cursor: pointer;
    }
    
    