.nav-item{color:red}

    .cartQuantity{

        font-size: 17px;
        color: gold;
       text-decoration: none;
       text-decoration-line: none;
        font-weight: bold; 
        margin-left: 30px; 
        margin-bottom: 0; 
        padding:1px;
        border-radius: 7px;
        width: auto;
        background-color: black;
        
    }

    .navItems{
        font-weight: bold;
        font-size: 120%;
        color: white;
        padding-right: 8%;
        padding-left: 5%;			
    }
 a:hover{
    color: red;
 }
    a{
        
        &.active{
            color: white;
        }

    }

    .log{
        padding-left: 10px;
        color: wheat;
        font-weight: bolder; 
        margin-right: 15px; 
        cursor: pointer;   
    }

    .log2{
        margin-left: 15px;
        padding-left: 10px;
        color: wheat;
        font-weight: bolder; 
        margin-right: 15px; 
        cursor: pointer;   
    }
    .log1{
        font-weight: bolder; 
        cursor: pointer; 
        font-weight: bolder;   
    }
    .cartLabel{
       
        color:white;
        font-size: 20px;
        margin-top: 0;
        padding-top: 0;
        margin-left: 0;
    }

    .basket{
       
        margin-left: 120px;
        margin-right: 50px;
        padding: 5px;

        
    }

    .basket:hover{
            background-color: red;
        }

    .logout{
        cursor: pointer;
    }
    
    