<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary " aria-label="Main navigation">
    <div class="container-fluid d-flex">
      <img  [routerLink]="['/']" routerLinkActive="router-link-active" src="/assets/ObandeLogo.jpeg" alt="No Image" height="70px" width="auto">
      
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Products</a>
          </li>
        
          <li class="nav-item dropdown">
             </li>
         
       
            <li>
          <div class=" d-flex ">
            <ng-container *ngIf="(accountservice.AppUser$|async)==null" >
           <div class="log1">
            <a (click)="openRegDialog()" class="nav-link" >Register</a>
            </div>
            <div class="log2">
              <a (click)="openLoginDialog()" class="nav-link" >Login</a>
            </div>
          </ng-container  >
        </div>
        </li>
        </ul>
      </div>

        <ng-container *ngIf="(accountservice.AppUser$|async) as user">
          <div class="log2" *ngIf="user.email=='godwinbillions@gmail.com'">
            <a routerLink="/Admin" class="nav-link" >Admin page</a>
          </div>
          <div class="btn-group" dropdown>
            <button style="font-size:30px ;color: gold;" id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle log1"
                    aria-controls="dropdown-basic">
                    Welcome {{user.nickName}}   <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu logout"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="Logout()">Logout</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="/orders">View Orders</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="/basket">View basket</a></li>
        
            </ul>
          </div>
      </ng-container >
          
            <div class="basket" routerLink="/basket">
                <div  *ngIf="(basketService.basket$|async) as basket" 
                 class="cartQuantity" class=" cartQuantity">
                  {{TotalQuantity(basket.items)}}
                </div>
                 <div class="cartLabel fa fa-shoping-cart">
                  <i class=" fa-cart-plus fa-2x"></i>
                  </div>
              
            </div>
           
 
          </div>
  </nav>