<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary " aria-label="Main navigation">
    <div class="container-fluid d-flex">
      <img  [routerLink]="['/']" routerLinkActive="router-link-active" src="/assets/gif-images/ObandeLogo.jpeg" alt="No Image" height="70px" width="auto">
      
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/prodshopmod']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/management']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Management</a>
          </li>
          <li class="nav-item dropdown">
             </li>
         
        </ul>
        </div>

          <div class=" d-flex ">
           <div class="log1">
              <a class="nav-link" href="#">Logout</a>
           </div>
           
            <div class="log2">
              <a class="nav-link" href="#">Login</a>
            </div>
           
            <div >
              <a routerLink="/basket">
              <span class="cartLabel fa fa-shoping-cart">
                  <i class=" fa-light fa-cart-plus fa-2x"></i>
              </span>
              <span class="cartQuantity" class="border border-primary cartQuantity">0</span>
            </a>
            </div>
 
          </div>
        
        
    </div>
  </nav>