<div class="row homepage1">

    <div style="height: 50px; margin-top:4%;margin-bottom: auto;">
        <marquee scrollamount="3">
            <strong style="color:deepskyblue ;font-weight:bold">{{adverts}}</strong> 
        </marquee>
    </div>

    <div class="col-4">
    <carousel>
            <slide  *ngFor="let product of products" >
        <div>
            <img src={{product.prodPicture}} alt="Averts" class="section1">      
        </div>
        <a routerLink="/products/{{product.id}}"><strong style="font-size: 20px; 
            color:rebeccapurple; text-decoration: underline;margin-left: 20px; cursor: pointer;">
                Grab this for <strong style="color:red">£{{product.prodPrice}}</strong> </strong></a>
        </slide > 
    </carousel>        
    </div>

    <div class="col-4">
        <carousel>
            <slide >
                <img src="/assets/bagsale2.jpeg" alt="Second Slide"  class="section2">
            </slide>
            <slide>
                <img src="/assets/bagsale1.jpeg" alt="First Slide" class="section2">
            </slide>
            <slide>
                <img src="/assets/can-fit4.gif" alt="First Slide" class="section2">
            </slide>
            <slide>
                <img src="/assets/bagsale3.jpeg" alt="Third Slide" class="section2">
            </slide>
            <slide>
                <img src="/assets/bagsale4.jpeg" alt="Third Slide" class="section2">
            </slide>
        </carousel>
        <strong style="font-size: 20px; color:rebeccapurple;margin: 10px;margin: 5px;">
            Travel with confidence</strong>
    </div>
    <div class="col-4">
        <div class="section3">
            <p>Register with us and get a free discount in your first £100 purchance made. 
                Our products are unique and made from the best of raw materials you can ever find.
                <p>The collections might not contain your taste; you can give a 
                    <a><strong style="color: deepskyblue; text-decoration: underline;cursor: pointer;">
                        feedback here</strong></a> </p>
                    <p>If you are not among those already enjoying the benefit of discounts, 
                        <a (click)="openRegDialog()"><strong style="color:deepskyblue; 
                        text-decoration: underline;cursor: pointer;"> Register here</strong>
                        </a>
                    </p>
                

        </div>
     
    </div>
    <div class="text-center" style="margin-top: 50px ; font-size: 30px; height: auto;">
        <a routerLink="/sell-product">
            <strong style="color: deepskyblue; text-decoration: underline;cursor: pointer;">
                 Sell your bag
                </strong> 
        </a>
    </div>

    <div class="text-center" style="margin-top: 50px ; font-size: 30px; height: auto;">
        <a>
            <strong style="color: deepskyblue; text-decoration: underline;cursor: pointer;">
                 Meet with website owner here
                </strong> 
        </a>
    </div>

</div>
    
   
   
